/* Navbar css */
@import url('https://fonts.googleapis.com/css?family=Raleway:200');

body {
  margin: 0;
  background: #ecf0f1;
}

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  
  height: 100vh;
  width: 18vw;
  font-family: raleway;
  background: #34495e;
}

.item {
  color: white;
  font-size: 20px;
  padding: 5px;
}

.section {
  padding: 20px;
}


/* Add css */
.main-bg{
    background-color: black;
    color: white;
}
.sub-bg{
    background-color: rgb(54, 51, 51);
    margin-bottom: 50px !important;
}
.Add-btn1{
    background-color: green;
    border: none;
    border-radius: 03px;
    color: white;
    padding: 10px;
}
.Add-btn2{
    background-color: orange;
    border: none;
    border-radius: 03px;
    color: white;
    padding: 10px;
}
.Add-btn3{
    background-color: rgb(57, 178, 229);
    border: none;
    border-radius: 03px;
    color: white;
    padding: 10px;
}
.form-bg{
background-color: black;
border: none;
}
/* Scenarios */
.Scenarios-btn{
    float: right;
    margin-top: -24px;
}

/* Home css */
.Home-btn {
    float: right;
}